@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  transition: all 1s ease;
  user-select: none;
}
body {
  background-color: #dadada;
}
/* Registration start */
.registeration {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/back5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-back {
  position: relative;
  width: 1000px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.163);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-side,
.register-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 30px;
}
.form-back {
  position: absolute;
  right: 0;
  top: -10%;
  width: 500px;
  height: 600px;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  overflow: hidden;
  padding: 80px 40px;
  z-index: 99;
}
.loginActive {
  right: 500px;
}
.loginActive .login {
  left: 0;
}
.login {
  left: 500px;
}
.register {
  right: 60px;
}
.loginActive .register {
  right: -500px;
}
.signBtn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: white;
}
.signBtn:hover {
  opacity: 0.745;
  color: red;
  background-color: blue;
}
.login {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 30px;
  position: absolute;
  left: -500px;
}
.login form {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
.login form input {
  width: 100%;
  height: 50px;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
}
.login form button {
  padding: 10px 20px;
  background-color: blue;
  border: none;
  /* border-radius: 8px; */
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.register {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  gap: 30px;
}
.register h1 {
  font-size: 42px;
}
.register form {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
.register form input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
}
.register form button {
  padding: 10px 20px;
  background-color: rgb(202, 0, 0);
  border: none;
  /* border-radius: 8px; */
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.register form button:hover {
  background-color: rgb(238, 31, 31);
  cursor: pointer;
}
.register form button:active {
  background-color: rgb(157, 12, 12);
}

/* Registration end */
main {
  /* max-width: 1400px; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.left-side {
  width: 350px;
  background-color: #e8e8e8;
  padding: 50px 10px;
  height: 100vh;
  position: relative;
}
.profile {
  gap: 15px;
  margin: 0px 15px;

  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img img {
  width: 180%;
}
.name {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  font-weight: 600;
}
.user-email {
  font-size: 12px;
}
.logout{
  position: absolute;
  bottom: 50px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 8px;
}
.logout h2{
  font-size: 15px;
}
.types {
  padding-top: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.type {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  letter-spacing: 10%;
  padding: 10px 15px;
  border-radius: 6px;
}
.type:hover {
  background-color: #dadada;
}
.activeWind {
  background-color: #c8d8ff;

}

.type h2 {
  font-size: 16px;
  font-weight: 400;
  color: #101010;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 15px;
  background-color: white;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}
.search input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

/* Styling section */

section {
  height: 100vh;
  width: 100%;
  background-image: url("img/mydayback.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 50px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}
nav h1 {
  font-size: 48px;
  color: #ffffff;
}
.date {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.tasks {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.task {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 16px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-text p {
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked {
  background-image: url("img/check.svg");
  background-size: 200%;
  background-position: center;
}
.input-task {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0px;
}
.input-task input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}
.add-btn {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  background-color: transparent;
}
/* Styling right side */

.right-side {
  width: 500px;
  padding: 30px 15px;
  background-color: #e8e8e8;
}
.right-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.right-title h1 {
  font-size: 20px;
  font-weight: 500;
}
.complated-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(59, 59, 252);
  color: white;
  font-size: 12px;
  background-color: rgb(59, 59, 252);
}
.hr {
  width: 100%;
  height: 2px;
  background-color: gray;
}

.complatedMyday{
  border: 1px solid rgb(181, 181, 181);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 5px;
}
.typeTitle{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.typeTitle h2{
  font-size: 15px;
  font-weight: 400;
}
.rotate {
  transform: rotate(90deg);
}
.complated-head {
  cursor: pointer;
}
.complated-tasks {
  width: 0;
  height: 0;
  overflow: hidden;
}

.open {
  border-top: 0.5px solid gray;
  opacity: 1;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.checkedTask p {
  text-decoration: line-through;
  color: #687681;
}
.task-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.trash:hover {
  color: red;
}
.none {
  display: none !important;
}
.display {
  display: block !important;
  color: #687681;
}
.time {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.watch p {
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 30px;
  height: 30px;
  background-color: #68768152;
}
