@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  transition: all 0.5s ease;
}
body {
  background-color: #dadada;
}
main {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.left-side {
  width: 350px;
  background-color: #e8e8e8;
  padding: 50px 10px;
  height: 100vh;
}
.profile {
  gap: 15px;
  margin: 0px 15px;

  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img img {
  width: 180%;
}
.name {
  font-size: 17px;
  font-weight: 600;
}
.user-email {
  font-size: 12px;
}
.types {
  padding-top: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.type {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  letter-spacing: 10%;
  padding: 10px 15px;
  border-radius: 6px;
}
.type:hover {
  background-color: #dadada;
}
.myDay {
  background-color: #e0e0e0;
}

.type h2 {
  font-size: 16px;
  font-weight: 400;
  color: #101010;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 15px;
  background-color: white;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}
.search input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

/* Styling section */

section {
  height: 100vh;
  width: 900px;
  background-image: url("img/back2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 50px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}
nav h1 {
  font-size: 48px;
  color: #ffffff;
}
.date {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.tasks {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.task {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 16px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.check {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked {
  background-image: url("img/check.svg");
  background-size: 200%;
  background-position: center;
}
.input-task {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0px;
}
.input-task input {
  border: none;
  outline: none;
  font-size: 16px;
}
.add-btn {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  background-color: transparent;
}
/* Styling right side */

.right-side {
  width: 350px;
  padding: 30px;
  background-color: #e8e8e8;
}
.right-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.right-title h1 {
  font-size: 20px;
  font-weight: 500;
}
.complated-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(59, 59, 252);
  color: white;
  font-size: 12px;
  background-color: rgb(59, 59, 252);
}
.hr {
  width: 100%;
  height: 2px;
  background-color: gray;
}
.complated-head {
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.complated-head .right {
  position: absolute;
  top: 25%;
  left: 200px;
}
.right-side .types .types {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.right-side .types .type {
  display: flex;
  border: 0.5px solid gray;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
.type-name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.rotate {
  transform: rotate(90deg);
}
.complated-head{
  cursor: pointer;
}
.complated-tasks {
  width: 0;
  height: 0;
  /* opacity: 0; */
  overflow: hidden;
}

.open {
  border-top: 0.5px solid gray;
  opacity: 1;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.checkedTask{
  text-decoration: line-through;
}